.aboutMeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  text-align: justify;
  width: 75%;
  font-size: 1.7em;
  line-height: 35px;
  word-spacing: 1px;
  letter-spacing: 2px;
}

.myImage {
  width: 300px;
  border: 3px solid #588157;
  box-shadow: 5px 5px 3px #344e41;
  border-radius: 25px;
  margin: 0 20px;
  transition-property: transform;
  transition-duration: 0.1s;
}

.myImage:hover {
  transform: scale(1.05);
  cursor: pointer;
}
