.softSkillContainer {
  width: 100%;
  font-size: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.listItem {
    padding: 3px 0;
}

.listItem::marker {
  color: #919191;
}
